/*
Theme Name: Square Main
Theme URI: https://hashthemes.com/wordpress-theme/square/
Template: square
Author: HashThemes
Author URI: https://hashthemes.com
Description: Square is a modern, fully responsive, and SEO-friendly WordPress theme, ideal for creating business websites, corporate sites, online portfolios, personal blogs, digital agencies, and WooCommerce-powered online stores. Designed with a clean and minimalist layout, Square ensures fast loading times and an excellent user experience across all devices. It is highly customizable through the WordPress Customizer, allowing real-time design changes without touching a single line of code. The theme is compatible with popular plugins like Elementor, WPML, Polylang, bbPress, and BuddyPress, making it suitable for multilingual websites, forums, and online communities. Square also supports retina displays and right-to-left (RTL) languages, ensuring global accessibility. Whether you're building a small business website or a feature-rich eCommerce platform, Square provides all the essential tools, flexibility, and modern design elements needed to launch a professional and engaging WordPress website. For demo https://demo.hashthemes.com/square
Tags: one-column,two-columns,left-sidebar,right-sidebar,custom-background,custom-colors,custom-header,custom-menu,featured-images,footer-widgets,full-width-template,theme-options,threaded-comments,translation-ready,e-commerce,photography,portfolio,rtl-language-support
Version: 2.0.61.1760423036
Updated: 2025-10-14 13:23:56

*/

